
/*  */

.homePageTitle,
.aboutPageTitle,
.profilePageTitle{
  /* width: calc(100vw - (100vw - 100%)); */
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: grid;
  font-size: 10rem;
  font-weight: 900;
  place-content: center;
}

.homePageTitle{
  color: orangered;
}

.aboutPageTitle{
  color: lightseagreen;
}

.profilePageTitle{
  color: hotpink;
}
